*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    width: 30%;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
form{
    position: relative;
}
button{
    position: absolute;
    right: .2rem;
    top: 0.4rem;
    border: none;
    outline: none;
}
button:focus {
    border: none;

}
button:focus .fas fa-search {
    border: none;
}
form span{
    color: blue;
}
.hide{
    display: none;
}